<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="estilos.css" />
    <title>Ingresar</title>
  </head>
  <body>
   
    <section class="form-container">
      <form action="/login" method="POST" autocomplete="off">
        <h2>Iniciar sesesion</h2>
        <input type="text" name="apellido" id="" placeholder="Apellido" />
        <input type="password" name="password" id="" placeholder="Password" />
        <button type="submit">Enviar</button>
      </form>
    </section>
  </body>
</html>