<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Panel de Usuario</title>
  </head>
  <body>
    <!-- Todo esto estaba cuando no habia sesiones.  -->
     <%= console.log(user.genero)%>
     <% let saludo;
      if(user.genero === "m"){
        saludo = "Bienvenido" ; 
      }
        if(user.genero === "f"){
          saludo = "welcome" ; 
        }
        if(user.genero === "o"){
          saludo = "salute" ; 
        }
       
     %>
  <h1 style="text-transform: capitalize;">  <%= saludo + " "+  user.nombre %>  </h1>
  <p> <%= user.is_admin ? "Eres administrador" : "No eres administrador" %> </p> 
  <a href="/">Inicio</a>
  <br>
  <a href="/usuarios">Usuarios</a>
  <br>
  <a href="/logout">Cerrar Sesión</a>
    </body>
</html>
