* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #a77cf5;
}

.form {
  border: 2px solid #666666;
  margin: 10px 50px;
  width: 400px;
  padding: 20px;
  background-color: #d0f0c0;

  border-radius: 10px;
}

.form form {
  display: flex;
  flex-direction: column;
}

.form form  input {
    margin: 10px 0;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #666666;  
}

.form textarea {
    height: 50px;
    padding: 5px ;
    resize: none;
    border-radius: 5px;
    border: 1px solid #666666;
}